    <div class="progress-bar">
      <div class="progress-bar-inner" style="width: {{progress}}%;"></div>
    </div>
    <div class="columns">
      <div class="column" id="todo-column">
        <h2>Todo</h2>
        <div id="todo-list" class="sortable-list">
          <!-- Cards will be populated here -->
        </div>
        <form id="form-todo">
          <input type="text" id="new-card-title-todo" placeholder="Card title">
          <input type="text" id="new-card-description-todo" placeholder="Card description">
          <input type="text" id="new-card-assignee-todo" placeholder="Assignee">
          <button type="submit">Add Card</button>
        </form>
      </div>

      <div class="column" id="in-progress-column">
        <h2>In Progress</h2>
        <div id="in-progress-list" class="sortable-list">
          <!-- Cards will be populated here -->
        </div>
        <form id="form-in-progress">
          <input type="text" id="new-card-title-in-progress" placeholder="Card title">
          <input type="text" id="new-card-description-in-progress" placeholder="Card description">
          <input type="text" id="new-card-assignee-in-progress" placeholder="Assignee">
          <button type="submit">Add Card</button>
        </form>
      </div>

      <div class="column" id="done-column">
        <h2>Done</h2>
        <div id="done-list" class="sortable-list">
          <!-- Cards will be populated here -->
        </div>
        <form id="form-done">
          <input type="text" id="new-card-title-done" placeholder="Card title">
          <input type="text" id="new-card-description-done" placeholder="Card description">
          <input type="text" id="new-card-assignee-done" placeholder="Assignee">
          <button type="submit">Add Card</button>
        </form>
      </div>
    </div>
      <script type="module" src="/scripts/script.js"></script>
